
{{ define "content" }}
{{ if .message }}
  <div class="toastMessage toast toast-top toast-center transition-opacity duration-500 z-[9999]">
    <div class="alert {{ if eq .status "success" }}alert-success{{ else }}alert-error{{ end }}">
      <span class="text-white">{{ .message }}</span>
    </div>
  </div>
{{ end }}

<div class="h-[85vh] flex flex-col gap-3 items-center justify-center">  
  <dialog id="logout_modal" class="modal">
    <div class="modal-box max-w-sm">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <h3 class="text-lg font-bold">Logout</h3>
      <form action="/logout" method="GET" class="mt-2 space-y-4">
        <p class="text-sm text-gray-500">Are you sure you want to Log out?</p>
        <button type="submit" class="btn btn-error text-white w-full">Konfirmasi</button>
      </form>
    </div>
  </dialog>

  <dialog id="update_password_modal" class="modal">
    <div class="modal-box max-w-sm">
      <form method="dialog">
        <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
      </form>
      <h3 class="text-lg font-bold">Ubah Password</h3>
      <form action="/update-password" method="post" class="mt-2 space-y-4">
        <label class="input input-bordered flex items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-4 w-4 opacity-70">
            <path
              fill-rule="evenodd"
              d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
              clip-rule="evenodd" />
          </svg>
          <input type="password" name="old_password" id="old_password" class="grow" placeholder="Input Your Old Password"/>
        </label>
        <label class="input input-bordered flex items-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 16 16"
            fill="currentColor"
            class="h-4 w-4 opacity-70">
            <path
              fill-rule="evenodd"
              d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
              clip-rule="evenodd" />
          </svg>
          <input type="password" name="new_password" id="new_password" class="grow" placeholder="Input Your New Password"/>
        </label>
        <p class="text-xs text-red-500"><b>Note : </b>Password must be at least 8 characters long and include a combination of uppercase letters, lowercase letters, and numbers.</p>
        <button type="submit" class="btn bg-[#276040] text-white hover:bg-opacity-95 hover:bg-[#276040] w-full" >Konfirmasi</button>
      </form>
    </div>
  </dialog>
      
  <p class="font-bold text-lg uppercase text-[#276040]">Your Profile</p>
    <div class="p-8 bg-gray-100 rounded-xl z-[99] border-2 w-[90%]">
        <div class="w-full flex flex-col gap-4 justify-center items-center">
            <div class="flex flex-col items-center gap-4">
                <div class="avatar">
                    <div class="w-24 rounded-full">
                        <img src="../../assets/img/batumbuah-icon.png" />
                    </div>
                </div>
                <p class="text-md font-bold text-[#276040]">{{ .name }}</p>
            </div>    
        </div>
       <div class="mt-4 flex flex-col gap-2">
          <div class="w-full flex justify-center">
             <button type="submit" class="btn bg-[#276040] text-white hover:bg-opacity-95 hover:bg-[#276040] w-full" onclick="update_password_modal.showModal()">Ubah Password</button>
          </div>
          <div class="w-full flex justify-center">
              <button class="w-full btn btn-error text-white" onclick="logout_modal.showModal()">Logout</button>
          </div>
       </div>
    </div>
</div>
{{ end }}
